In [1]:
# examples and exercises in chapter 3.2 of the Chinese version of book "Joyful Pandas" (pandas数据处理与分析)

In [3]:
import numpy as np
import pandas as pd

In [4]:
import os
os.chdir("../../")

In [5]:
# 3.2.1

In [8]:
np.random.seed(0)
df = pd.read_csv("data/learn_pandas.csv", usecols=["School", "Grade", "Name", "Gender", "Weight", "Transfer"])
df_ = df.copy()
multi_index = pd.MultiIndex.from_product(
    [list("ABCD"), df_.Gender.unique()], names=("School", "Gender")
)
df_.Grade = df_.Grade.replace(
    ["Freshman", "Senior", "Sophomore", "Junior"], [1,4,2,3]
)
multi_column = pd.MultiIndex.from_product(
    [["Height", "Weight"], df_.Grade.unique()], names=("Indicator", "Grade")    
)
df_multi = pd.DataFrame(
    np.c_[(np.random.randn(8,4)*5 + 163).tolist(),
         (np.random.rand(8,4)*5 + 65).tolist()],
    index=multi_index,
    columns=multi_column).round(1).sort_values(["Indicator", "Grade"], axis=1)

df_multi

/var/folders/1b/xnyhhbh578x5vpfmbtn082pm0000gn/T/ipykernel_72607/3080569371.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_.Grade = df_.Grade.replace(

Indicator     Height                      Weight
Grade              1      2      3      4      1     2     3     4
School Gender
A      Female  171.8  167.9  174.2  165.0   66.8  68.5  65.3  67.2
       Male    172.3  167.8  162.2  158.1   68.3  66.1  65.6  68.4
B      Female  162.5  163.7  170.3  165.1   66.6  67.9  67.2  66.8
       Male    166.8  165.2  164.7  163.6   69.9  66.0  65.8  65.5
C      Female  170.5  164.6  158.7  162.0   68.3  67.3  66.2  66.3
       Male    150.2  167.3  159.3  166.3   65.8  68.3  65.7  65.6
D      Female  174.3  163.2  162.1  155.7   66.0  69.1  65.5  66.8
       Male    170.7  163.8  164.9  170.3   69.2  69.9  67.3  65.5

In [9]:
df_multi.index.names

FrozenList(['School', 'Gender'])

In [10]:
df_multi.columns.names

FrozenList(['Indicator', 'Grade'])

In [11]:
df_multi.index.values

array([('A', 'Female'), ('A', 'Male'), ('B', 'Female'), ('B', 'Male'),
       ('C', 'Female'), ('C', 'Male'), ('D', 'Female'), ('D', 'Male')],
      dtype=object)

In [12]:
df_multi.columns.values

array([('Height', 1), ('Height', 2), ('Height', 3), ('Height', 4),
       ('Weight', 1), ('Weight', 2), ('Weight', 3), ('Weight', 4)],
      dtype=object)

In [14]:
df_multi.index.get_level_values(1)

Index(['Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male'], dtype='object', name='Gender')

In [15]:
# 3.2.2

In [16]:
df_multi = df.set_index(["School", "Grade"])
df_multi.head()

                            Name  Gender  Weight Transfer
School Grade
A      Freshman     Gaopeng Yang  Female    46.0        N
B      Freshman   Changqiang You    Male    70.0        N
A      Senior            Mei Sun    Male    89.0        N
C      Sophomore    Xiaojuan Sun  Female    41.0        N
       Sophomore     Gaojuan You    Male    74.0        N

In [17]:
df_multi.loc[("A", "Junior")].head()

/var/folders/1b/xnyhhbh578x5vpfmbtn082pm0000gn/T/ipykernel_72607/4007288543.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df_multi.loc[("A", "Junior")].head()

                      Name  Gender  Weight Transfer
School Grade
A      Junior   Feng Zheng  Female    51.0        N
       Junior    Mei Zhang  Female    44.0        N
       Junior  Xiaoli Wang    Male    70.0        N
       Junior     Qiang Lv  Female    42.0        N
       Junior      Mei Sun  Female    50.0        N

In [18]:
df_sorted = df_multi.sort_index()
df_sorted.loc[("A", "Junior")].head()

                      Name  Gender  Weight Transfer
School Grade
A      Junior   Feng Zheng  Female    51.0        N
       Junior    Mei Zhang  Female    44.0        N
       Junior  Xiaoli Wang    Male    70.0        N
       Junior     Qiang Lv  Female    42.0        N
       Junior      Mei Sun  Female    50.0        N

In [20]:
df_sorted.loc[[("A", "Senior"), ("B", "Freshman")]].tail()

                           Name  Gender  Weight Transfer
School Grade
B      Freshman    Xiaopeng Han  Female    53.0        N
       Freshman   Changmei Feng  Female    56.0        N
       Freshman  Changpeng Zhao    Male    83.0        N
       Freshman     Qiang Zhang  Female    43.0        N
       Freshman    Chunmei Wang  Female    43.0        N

In [21]:
df_sorted.loc[df_sorted.Weight>70].head()

                          Name Gender  Weight Transfer
School Grade
A      Freshman  Xiaopeng Zhou   Male    74.0        N
       Freshman    Chunli Zhao   Male    83.0        N
       Freshman    Changmei Lv   Male    75.0        N
       Freshman     Qiang Feng   Male    80.0        N
       Senior          Mei Sun   Male    89.0        N

In [34]:
df_multi.loc[("A", "Senior"):].head()

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (0)'

In [28]:
df_sorted.loc[("A", "Senior"),"Name":"Weight"].head()

                         Name  Gender  Weight
School Grade
A      Senior         Mei Sun    Male    89.0
       Senior        Peng You  Female    48.0
       Senior       Qiang Chu  Female    50.0
       Senior   Xiaopeng Shen    Male    62.0
       Senior  Changqiang Sun  Female    55.0

In [32]:
df_unique = df.drop_duplicates(
    subset=["School", "Grade"]
).set_index(["School", "Grade"])
df_unique.loc[("A", "Senior"):].head()

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (0)'

In [30]:
df_unique.sort_index().loc[("A", "Senior"):].head()

                            Name  Gender  Weight Transfer
School Grade
A      Senior            Mei Sun    Male    89.0        N
       Sophomore    Yanfeng Qian  Female    48.0        N
B      Freshman   Changqiang You    Male    70.0        N
       Junior            Juan Xu  Female     NaN        N
       Senior         Changli Lv  Female    41.0        N

In [35]:
res = df_multi.loc[(["A", "B"], ["Sophomore", "Junior"]), :]
res.head()

                            Name  Gender  Weight Transfer
School Grade
A      Sophomore    Yanfeng Qian  Female    48.0        N
       Sophomore        Gaoli Xu  Female    53.0        N
       Sophomore        Feng Han    Male    82.0        N
       Sophomore    Chunpeng Shi  Female    44.0        N
       Sophomore  Xiaoqiang Feng  Female    43.0        N

In [36]:
res.shape

(35, 4)

In [37]:
res = df_multi.loc[[("A", "Junior"), ("B", "Sophomore")]]
res.head()

                      Name  Gender  Weight Transfer
School Grade
A      Junior   Feng Zheng  Female    51.0        N
       Junior    Mei Zhang  Female    44.0        N
       Junior  Xiaoli Wang    Male    70.0        N
       Junior     Qiang Lv  Female    42.0        N
       Junior      Mei Sun  Female    50.0        N

In [38]:
res.shape

(22, 4)

In [39]:
# IndexSlice

In [40]:
np.random.seed(0)
L1,L2 = ["A", "B", "C"],["a", "b", "c"]
mul_index1 = pd.MultiIndex.from_product([L1,L2],names=("Upper","Lower"))
L3,L4 = ["D", "E", "F"],["d", "e", "f"]
mul_index2 = pd.MultiIndex.from_product([L3,L4],names=("Big", "Small"))
df_ex = pd.DataFrame(np.random.randint(-9, 10, (9,9)),
                    index=mul_index1,
                    columns=mul_index2)
df_ex

Big          D        E        F
Small        d  e  f  d  e  f  d  e  f
Upper Lower
A     a      3  6 -9 -6 -6 -2  0  9 -5
      b     -3  3 -8 -3 -2  5  8 -4  4
      c     -1  0  7 -4  6  6 -9  9 -6
B     a      8  5 -2 -9 -8  0 -9  1 -6
      b      2  9 -7 -9 -9 -5 -4 -3 -1
      c      8  6 -5  0  1 -8 -8 -2  0
C     a     -6 -3  2  5  9 -9  5 -6  3
      b      1  2 -5 -3 -5  6 -6  3 -5
      c     -1  5  6 -6  6  4  7  8 -4

In [41]:
idx = pd.IndexSlice

In [45]:
df_ex.loc[idx[("C"):,("D","f"):]]

Big          D  E        F
Small        f  d  e  f  d  e  f
Upper Lower
C     a      2  5  9 -9  5 -6  3
      b     -5 -3 -5  6 -6  3 -5
      c      6 -6  6  4  7  8 -4

In [46]:
df_ex.loc[idx[:"A",lambda x:x.sum()>0]]

Big          D     F
Small        d  e  e
Upper Lower
A     a      3  6  9
      b     -3  3 -4
      c     -1  0  9

In [48]:
df_ex.loc[idx["A":, "b":], idx["E":,"e":]]

Big          E     F
Small        e  f  e  f
Upper Lower
A     b     -2  5 -4  4
      c      6  6  9 -6
B     b     -9 -5 -3 -1
      c      1 -8 -2  0
C     b     -5  6  3 -5
      c      6  4  8 -4

In [49]:
# 3.2.3

In [51]:
my_tuple = [("a","cat"),("a","dog"),("b","cat"),("b","dog")]
pd.MultiIndex.from_tuples(my_tuple, names=["First","Second"])

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['First', 'Second'])

In [52]:
my_array = [list("aabb"), ["cat", "dog"]*2]
pd.MultiIndex.from_arrays(my_array, names=["First","Second"])

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['First', 'Second'])

In [53]:
my_list1 = ["a","b"]
my_list2 = ["cat","dog"]
pd.MultiIndex.from_product([my_list1, my_list2], names=["First","Second"])

MultiIndex([('a', 'cat'),
            ('a', 'dog'),
            ('b', 'cat'),
            ('b', 'dog')],
           names=['First', 'Second'])

In [54]:
# Ex3-4

In [57]:
# from_tuple
np.random.seed(0)
df = pd.read_csv("data/learn_pandas.csv", usecols=["School", "Grade", "Name", "Gender", "Weight", "Transfer"])
df_ = df.copy()

my_tuple1 = [(x,y) for x in list("ABCD") for y in df_.Gender.unique()]
multi_index = pd.MultiIndex.from_tuples(
    my_tuple1, names=("School", "Gender")
)
df_.Grade = df_.Grade.replace(
    ["Freshman", "Senior", "Sophomore", "Junior"], [1,4,2,3]
)
my_tuple2 = [(x,y) for x in ["Height", "Weight"] for y in df_.Grade.unique()]
multi_column = pd.MultiIndex.from_tuples(
    my_tuple2, names=("Indicator", "Grade")    
)
df_multi = pd.DataFrame(
    np.c_[(np.random.randn(8,4)*5 + 163).tolist(),
         (np.random.rand(8,4)*5 + 65).tolist()],
    index=multi_index,
    columns=multi_column).round(1).sort_values(["Indicator", "Grade"], axis=1)

df_multi

/var/folders/1b/xnyhhbh578x5vpfmbtn082pm0000gn/T/ipykernel_72607/459323183.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_.Grade = df_.Grade.replace(

Indicator     Height                      Weight
Grade              1      2      3      4      1     2     3     4
School Gender
A      Female  171.8  167.9  174.2  165.0   66.8  68.5  65.3  67.2
       Male    172.3  167.8  162.2  158.1   68.3  66.1  65.6  68.4
B      Female  162.5  163.7  170.3  165.1   66.6  67.9  67.2  66.8
       Male    166.8  165.2  164.7  163.6   69.9  66.0  65.8  65.5
C      Female  170.5  164.6  158.7  162.0   68.3  67.3  66.2  66.3
       Male    150.2  167.3  159.3  166.3   65.8  68.3  65.7  65.6
D      Female  174.3  163.2  162.1  155.7   66.0  69.1  65.5  66.8
       Male    170.7  163.8  164.9  170.3   69.2  69.9  67.3  65.5

In [65]:
# from_arrays
np.random.seed(0)
df = pd.read_csv("data/learn_pandas.csv", usecols=["School", "Grade", "Name", "Gender", "Weight", "Transfer"])
df_ = df.copy()

my_array1 = [list("AABBCCDD"), list(df_.Gender.unique())*4]
multi_index = pd.MultiIndex.from_arrays(
    my_array1, names=("School", "Gender")
)
df_.Grade = df_.Grade.replace(
    ["Freshman", "Senior", "Sophomore", "Junior"], [1,4,2,3]
)
my_array2 = [["Height"]*4 + ["Weight"]*4, list(df_.Grade.unique())*2]
multi_column = pd.MultiIndex.from_arrays(
    my_array2, names=("Indicator", "Grade")    
)
df_multi = pd.DataFrame(
    np.c_[(np.random.randn(8,4)*5 + 163).tolist(),
         (np.random.rand(8,4)*5 + 65).tolist()],
    index=multi_index,
    columns=multi_column).round(1).sort_values(["Indicator", "Grade"], axis=1)

df_multi

/var/folders/1b/xnyhhbh578x5vpfmbtn082pm0000gn/T/ipykernel_72607/144181582.py:10: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_.Grade = df_.Grade.replace(

Indicator     Height                      Weight
Grade              1      2      3      4      1     2     3     4
School Gender
A      Female  171.8  167.9  174.2  165.0   66.8  68.5  65.3  67.2
       Male    172.3  167.8  162.2  158.1   68.3  66.1  65.6  68.4
B      Female  162.5  163.7  170.3  165.1   66.6  67.9  67.2  66.8
       Male    166.8  165.2  164.7  163.6   69.9  66.0  65.8  65.5
C      Female  170.5  164.6  158.7  162.0   68.3  67.3  66.2  66.3
       Male    150.2  167.3  159.3  166.3   65.8  68.3  65.7  65.6
D      Female  174.3  163.2  162.1  155.7   66.0  69.1  65.5  66.8
       Male    170.7  163.8  164.9  170.3   69.2  69.9  67.3  65.5

In [64]:
my_array1

[['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
 ['F', 'M', 'F', 'M', 'F', 'M', 'F', 'M']]